<!DOCTYPE html>
<html>
<head>
<title>HIAOBO</title>

<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ asset('css/form.css') }}">

html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

</style>

<style type="text/css">
h4>a:hover {
    color: white;
}

.table-striped>tbody>tr.success>td {
  background-color: #5cb85c;
}
.table-striped>tbody>tr.danger>td {
  background-color: #f97777;
}
.table-striped>tbody>tr.warning>td {
  background-color: #FACC2E;
}
</style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open_or_close();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">HIAOBO</span>
</div>

<!-- Sidebar/menu -->
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    
    <div class="w3-col s8 w3-bar">
      <span>Bonjour, <strong>{{ app.user.username }}</strong></span><br>
      
      <a href="{{ path('fos_user_profile_show') }}" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="{{ path('fos_user_security_logout') }}" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Tableau de bord </h5>
  </div>
  
  <div class="w3-bar-block">

    {% if is_granted("ROLE_MODERATOR") %}
      <a href="{{ path('ho_alert_service_homepage') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell"></i>  Alertes services</a>
    <a href="{{ path('ho_service_homepage') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-sitemap fa-fw"></i>  Services </a>
    <a href="{{ path('ho_intervention_homepage') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-calendar fa-fw"></i>  Interventions </a>
    <a href="{{ path('ho_equipment_homepage') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-suitcase fa-fw"></i> Equipements </a>
    <a href="{{ path('ho_repairer_homepage') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Intervenants </a>
    <a href="{{ path('ho_intervention_toolbox') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-suitcase fa-fw"></i>  Matériel d'intervention </a>
    <a href="{{ path('ho_spare_part_type_homepage') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  Stocks </a>
    
    
    {% endif %}

    {% if is_granted("ROLE_SUPER_ADMIN") %}
    
    <a href="{{ path('ho_moderator_homepage') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Modérateurs </a>
    
    {% endif %}

    {% if not is_granted("ROLE_SUPER_ADMIN") and not is_granted("ROLE_MODERATOR") and is_granted("ROLE_USER") %}
      <a href="{{ path('ho_alert_service_homepage') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell"></i> Mes Alertes</a>
      <a href="{{ path('ho_equipment_homepage') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-suitcase fa-fw"></i> Mes équipements </a>
    
    {% endif %}



    <br/><br/>
  </div>
  
</nav>
{% endif %}

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
  {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
  {% endif %}

  {% if app.session.flashBag.has('error') %}
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
  {% endif %}

{% block body %}



{% endblock %}
</div>
  
  <script type="text/javascript">
      function w3_open_or_close() {
        if(document.getElementById("mySidebar").style.display == "block"){
          document.getElementById("mySidebar").style.display = "none";

        }
        else{
          document.getElementById("mySidebar").style.display = "block";

        }    
      }

      
  </script>
  {% block javascripts %}{% endblock %}

  </body>
  </html>