<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF8" />
<title>Bienvenue!</title>
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/styles.css')}}" type="text/css" />
<link href="{{ asset('css/bootstrap.css')}}" rel="stylesheet" type="text/css"  media="all" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>     
{% endblock %}
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>

		<section id="body" class="width">
			<aside id="sidebar" class="column-left">

			<header>
				<h1><a href="{{ path('ho_alert_service_homepage') }}"> HIA </a></h1>

				<h2>Application gestion des équipements</h2>
				
			</header>

			<nav id="mainnav">
  				<ul>
                
  				{% set cPath = path(app.request.attributes.get('_route'),
                                            app.request.attributes.get('_route_params')) %}

                                {% if  is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="{{ path('fos_user_security_logout') }}"> Se déconnecter  </a></li>


                                {% if cPath == path('ho_alert_service_homepage') %} <li class="selected-item"> {% else %} <li> {% endif %}
                                <a href="{{ path('ho_alert_service_homepage') }}"> Alertes Services </a></li> 

                                {% if cPath == path('ho_intervention_homepage') %} <li class="selected-item"> {% else %} <li> {% endif %}
                                <a href="{{ path('ho_intervention_homepage') }}"> Interventions </a></li> 

                                {% if cPath == path('ho_intervention_toolbox') %} <li class="selected-item"> {% else %} <li> {% endif %}
                                <a href="{{ path('ho_intervention_toolbox') }}"> Boites à outils </a></li> 


                                {% if cPath == path('ho_service_homepage') %} <li class="selected-item"> {% else %} <li> {% endif %}
                                <a href="{{ path('ho_service_homepage') }}"> Services </a></li> 

                                {% if cPath == path('ho_stock_homepage') %} <li class="selected-item"> {% else %} <li> {% endif %}
                                <a href="{{ path('ho_stock_homepage') }}"> Stocks </a></li> 

                                {% if cPath == path('ho_equipment_homepage') %} <li class="selected-item"> {% else %} <li> {% endif %}
                                <a href="{{ path('ho_equipment_homepage') }}"> Equipements </a></li>

                                {% if cPath == path('ho_category_homepage') %} <li class="selected-item"> {% else %} <li> {% endif %}
                                <a href="{{ path('ho_category_homepage') }}"> Catégorie Equipement </a></li> 

                                {% if cPath == path('ho_spare_part_homepage') %} <li class="selected-item"> {% else %} <li> {% endif %}
                                <a href="{{ path('ho_spare_part_homepage') }}"> Pièces détachées </a></li>

                                {% if cPath == path('ho_spare_part_type_homepage') %} <li class="selected-item"> {% else %} <li> {% endif %}
                                <a href="{{ path('ho_spare_part_type_homepage') }}"> Type pièce détachée </a></li> 

                                

                                {% if cPath == path('ho_zone_homepage') %} <li class="selected-item"> {% else %} <li> {% endif %}
                                <a href="{{ path('ho_zone_homepage') }}"> Zones </a></li>

                                {% if cPath == path('ho_repairer_homepage') %} <li class="selected-item"> {% else %} <li> {% endif %}
                                <a href="{{ path('ho_repairer_homepage') }}"> Réparateurs  </a></li>

                                {% if cPath == path('ho_moderator_homepage') %} <li class="selected-item"> {% else %} <li> {% endif %}
                                <a href="{{ path('ho_moderator_homepage') }}"> Modérateurs  </a></li>

                                {% if cPath == path('fos_user_profile_show') %} <li class="selected-item"> {% else %} <li> {% endif %}
                                <a href="{{ path('fos_user_profile_show') }}"> Profile   </a></li>


                                {% endif %}

                                {% if is_granted('ROLE_ADMIN') %}

                                {% endif %}
                            		
                        	</ul>
			</nav>

			
			
			</aside>
			<section id="content" class="column-right">
                		
	    <article>
		 {% block body %} {% endblock %}
		</article>

			
			<footer class="clear">
				<p>&copy; 2015 sitename. <a href="http://zypopwebtemplates.com/">Free CSS Templates</a> by ZyPOP</p>
			</footer>

		</section>

		<div class="clear"> </div>

	</section>
	

</body>
</html>
