<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8" />
        <title> {% block title %} Bienvenue! {% endblock %}</title>
        <link href="{{ asset('css/style.css')}}" rel="stylesheet" type="text/css"  media="all" />
         <link href="{{ asset('css/style_form.css')}}" rel="stylesheet" type="text/css"  media="all" />
         <link href="{{ asset('css/bootstrap.css')}}" rel="stylesheet" type="text/css"  media="all" />
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('css/responsiveslides.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>       
        <script src="{{ asset('js/responsiveslides.min.js')}}"></script>
          
    </head>
    <body>
        <!---start-wrap---->
        
            <!---start-header---->
            <div class="header">
                    
                    <div class="main-header">
                        <div class="wrap">
                            <div class="logo">
                                <a href="{{ path('homepage') }}"><img src="{{ asset('images/logo.png')}}" title="logo" /></a>
                            </div>
                            
                            <div class="clear"> </div>
                        </div>
                    </div>
                    <div class="clear"> </div>
                    <div class="top-nav">
                        <div class="wrap">
                            <ul>
                                {% if  is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li class="active"> <a href="{{ path('ho_equipment_homepage') }}"> Equipements </a></li>
                                <li><a href="{{ path('ho_category_homepage') }}"> Catégorie Equipement </a></li> 
                                <li><a href="{{ path('ho_state_homepage') }}"> Etats Equipement </a></li>       
                                <li><a href="{{ path('ho_zone_homepage') }}"> Zones </a></li>
                                <li><a href="{{ path('ho_repairer_homepage') }}"> Réparateurs  </a></li>
                                <li><a href="#"> Modérateurs  </a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"> Se déconnecter  </a></li>
                                <div class="clear"> </div>
                                {% endif %}

                                {% if is_granted('ROLE_ADMIN') %}

                                {% endif %}
                            </ul>
                        </div>
                    </div>
            </div>
            <!---End-header---->
          {% block body %} {% endblock  %}
          <br/><br/><br/><br/><br/>

            
        <!---start-footer---->
        <div class="footer">
            <div class="wrap">
                <div class="footer-grids">
                    <div class="footer-grid">
                        <h3>OUR Profile</h3>
                         <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Conse ctetur adipisicing</a></li>
                            <li><a href="#">Elit sed do eiusmod tempor</a></li>
                            <li><a href="#">Incididunt ut labore</a></li>
                            <li><a href="#">Et dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniam</a></li>
                        </ul>
                    </div>
                    <div class="footer-grid">
                        <h3>Our Services</h3>
                         <ul>
                            <li><a href="#">Et dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniam</a></li>
                            <li><a href="#">Quis nostrud exercitation</a></li>
                            <li><a href="#">Ullamco laboris nisi</a></li>
                            <li><a href="#">Ut aliquip ex ea commodo</a></li>
                        </ul>
                    </div>
                    <div class="footer-grid">
                        <h3>OUR FLEET</h3>
                         <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Conse ctetur adipisicing</a></li>
                            <li><a href="#">Elit sed do eiusmod tempor</a></li>
                            <li><a href="#">Incididunt ut labore</a></li>
                            <li><a href="#">Et dolore magna aliqua</a></li>
                            <li><a href="#">Ut enim ad minim veniam</a></li>
                        </ul>
                    </div>
                    <div class="footer-grid">
                        <h3>CONTACTS</h3>
                         <p>Lorem ipsum dolor sit amet ,</p>
                         <p>Conse ctetur adip .</p>
                         <p>ut labore Usa.</p>
                         <span>(202)1234-56789</span>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
                <!---start-copy-right----->
                <div class="copy-tight">
                    <p>Copyright &copy; Medica. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
                </div>
                <!---End-copy-right----->
            </div>
        </div>
        <!---End-footer---->
    </body>
</html>


