
{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
<h2>  Alerte </h2>
Service : {{ alert.service.name  }} <br/>
Description:{{ alert.designation }} <br/>
Date de demande:{{ alert.date}} <br/>
Catégorie de l'alerte:{{ alert.alertCategory.name}}
<br/>

<h2> Formulaire d'attribution </h2>
{{ form_start(form, {'method': 'post', 'action': path('ho_create_intervention_alert',{'alertId':alert.id}) }) }}
                
            {{ form_rest(form) }}
            <br/><br/>
            <button class="btn btn-default btn-primary" type="submit" >Enregistrer</button>
{{ form_end(form) }}

<br/>
<h2>Liste des réparateurs:</h2>

<table class="table table-striped">
    <thead>
      <tr>
      	<th> Id </th>
        <th> Nom  </th>
        <th> Fonction </th>
        <th> Statut </th>
        <th> Nombre tâches en cours </th>
        <th> Fiche </th>
       
      </tr>
    </thead>
    <tbody id="myTable">
    {% for repairer in repairers %}
      <tr>
        <td> {{ repairer.id }} </td>
        <td> {{ repairer.username }} </td>
        <td> {{ repairer.function.name }} </td>
        <td> {{ repairer.status.status }} </td>
        <td> {{ nbrTasks[repairer.id] }}  </td>
        <td>
        {% if repairer.interventions is not empty %}
         <a href="{{ path('ho_repairer_interventions',{'id':repairer.id}) }}" class="btn btn-default btn-primary" > Détails </a> 
             
        {% endif %}

        </td>

        
      </tr>
    {% endfor %}
      
    </tbody>
  </table>


</div>


{% endblock %}

