{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
<h3>  Alerte attribution </h3>
<br/><br/>
<strong>Service : </strong>{{ alert.service.name  }} <br/>
<strong>Date de demande:</strong>{{ alert.date}} <br/>
<strong>Catégorie de l'alerte:</strong>{{ alert.alertCategory.name}}
<br/>
<strong>Description: </strong><br/>
<p>{{ alert.designation }}</p>
<br/><br/>

<h3> Formulaire d'attribution </h3>
{{ form_start(form, {'method': 'post', 'action': path('ho_create_intervention_alert',{'alertId':alert.id}) }) }}
  <ul class="form-style-1">
    <li>
     {{ form_label(form.equipment,"Equipement") }}
     {{ form_widget(form.equipment,{'attr':{'class':'field-select' }}) }} 
    </li>  
    <li>
     {{ form_label(form.repairer,"Intervenant *") }}
     {{ form_widget(form.repairer,{'attr':{'class':'field-select' }}) }} 
    </li>  
    <li>
     {{ form_label(form.dateBegin,"Date d'attribution *") }}
     {{ form_widget(form.dateBegin,{'attr':{'class':'field-long' }}) }} 
     </li>  
                    
    {{ form_rest(form) }}
    <li><button class="btn btn-primary" type="submit" >Enregistrer</button></li>
  </ul>
  
{{ form_end(form) }}

<br/>




</div>


{% endblock %}

