{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
<h3>  Validation intervention {{intervention.id}} </h3> <br/><br/><br/>

<form class="form-style-7">
<ul>
<li>
<label for="intervention">Intervention</label> <br/>
    
<strong>Intervenant : </strong> {{ intervention.repairer.username }}<br/><hr/>
{% if intervention.serviceRoom != null %}
<strong>Service-Salle:</strong>   {{ intervention.serviceRoom.service.name }} - {{ intervention.serviceRoom.name }} <br/><hr/>
{% endif %}

<strong>Catégorie intervention: </strong> {{ intervention.category.name }} <br/> <hr/>

<strong>Date début d'intervention:</strong> {{ intervention.dateBegin}} <br/> <hr/>

{% if intervention.equipment != null %}
<strong>Equipement :</strong> {{ intervention.equipment.name }} <br/> <hr/>
{% endif %}
</li>
</ul>
</form>

{% if intervention.alert != null %}
  <br/><br/>
  <form class="form-style-7">
  <ul>
  <li>
  <label for="infos"> Informations alerte </label><br/>
  <strong>Description :</strong> {{ intervention.alert.designation }} <br/> <hr/>
  <strong>Catégorie :</strong> {{ intervention.alert.alertCategory.name  }} <br/> <hr/>
  <strong>Date de l'alerte :</strong> {{ intervention.alert.date }} <br/> <hr/>
  <strong>Service-Salle : </strong> {{ intervention.alert.service.name }} - {{intervention.alert.serviceRoom.name}} <br/> 

  </li>
  </ul>
  </form>
{% endif %}

<br/><br/>
<form class="form-style-7">
  <ul>
  <li>
  <label for="spares"> Pièces utilisées </label><br/>
  
  {% for spar in intervention.spareParts %}

    <strong>Type :</strong> {{ spar.type.name }} <br/> 
    <strong>Numéro de série :</strong> {{  spar.serialNumber  }} <br/>
    <strong>Marque :</strong> {{ spar.brand.name }} <br/>
    <strong>Date de fabrication :</strong> {{ spar.manufactureDate|date('d/m/Y') }} <br/>
    
    <hr/>

  {% endfor %}
  </li>
  </ul>
</form>

<br/><br/>
<form class="form-style-7">
  <ul>
  <li>
  <label for="tools"> Outils empruntés </label><br/>
  
  {% for data in intervention.interventionTools %}

    <strong>Outil :</strong> {{ data.equipment.name }} <br/> 
    <strong>Code :</strong> {{  data.equipment.code  }} <br/>
    <strong>Date emprunt :</strong> {{ data.dateOut }} <br/>
    {% if data.isBack == false %}
    <a href="{{ path('ho_intervention_equipment_back_from_validate',{'interventionId':intervention.id,'equipmentId':data.equipment.id }) }}" class="btn btn-default btn-primary" > Rendre </a> 
    {% else %}
    	<strong>Date retour :</strong> {{ data.dateReturn }} <br/>
    {% endif %} 
    <hr/>

  {% endfor %}
  </li>
  </ul>
</form>


<br/><br/>
<h3> Formulaire de validation : </h3>

{{ form_start(form, {'method': 'post', 'action': path('ho_intervention_validate',{'id':intervention.id}) }) }}
 <ul class="form-style-1">
 <li>
 {{ form_label(form.comment,"Diagnostic *") }}
 {{ form_widget(form.comment,{'attr':{'class':'field-long field-textarea' }}) }} 
 </li>  
 {{ form_rest(form) }}
 
 <li>
 <button class="btn btn-default btn-primary" type="submit" >Valider</button>
 </li>
 </ul>
 

{{ form_end(form) }}


</div>


{% endblock %}

