{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
  <h2>Stocks </h2>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-diamond w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4> <a href="{{ path('ho_create_stock') }}">  Créer un stock  </a> </h4>
      </div>
  </div>
</div>

  <br/><br/>
  <input id="myInput"  placeholder="Recherche.." > <br/><br/>
           
  <table class="table table-striped">
    <thead>
      <tr>
      	<th> Id  </th>
        <th> Localisation </th>
        <th> Ajouter équipement </th>
        <th> Ajouter pièce détachée </th>
        <th> Liste équipements </th>
        <th> Liste pièces détachées </th>
        
      </tr>
    </thead>
    <tbody id="myTable">
    {% for stock in stocks %}
      <tr>
        <td> {{ stock.id }} </td>
        <td>  {{ stock.zone.name }} </td>
        <td> <a href="{{ path('ho_stock_add_equipment',{'stockId': stock.id }) }}"> lien </a></td>
        <td> <a href="{{ path('ho_stock_add_spare_part',{'stockId': stock.id }) }}"> lien </a> </td>
        <td>  </td>
        <td>  </td>
      </tr>
    {% endfor %}
      
    </tbody>
  </table>
</div>
 <br/><br/><br/><br/><br/>
<script>
$(document).ready(function(){
	$("#myInput").on("keyup", function(){
	var value = $(this).val().toLowerCase();

	$("#myTable tr").each(function(){
	 $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	});
	});
});

</script>



{% endblock %}