{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
  <h3> Liste des alertes </h3>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-exclamation-triangle w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        {% if is_granted("ROLE_MODERATOR") %}
        <h4> <a href="{{ path('ho_create_alert_service') }}"> Signaler Alerte </a> </h4>
        {% else %}
          <h4> <a href="{{ path('ho_create_alert_from_service',{'serviceId': service.id}) }}"> Signaler Alerte </a> </h4>
        {% endif %} 
      </div>
  </div>
</div>

  <br/><br/>
  <input id="myInput"  placeholder="Recherche par service.." > <br/><br/>
           
  <table class="table table-striped">
    <thead>
      <tr>
      	<th> Service  </th>
        <th> Date </th>
        <th> Catégorie </th>
        <th> Description </th>
        <th> Equipement </th>
        <th> Etat </th>
        {% if is_granted('ROLE_MODERATOR') %}
        <th> Attribuer la tâche </th>
        {% endif %}
       
      </tr>
    </thead>
    <tbody id="myTable">
    {% for alert in alerts|reverse %}

     {% if alert.alertState.code == "RSL" %} <tr class="success">
     {% elseif alert.alertState.code == "ECT" %} <tr class="bg-warning"> {% else %} <tr class="danger"> {% endif %}
        <td class="service"> {{ alert.service.name }} </td>
        <td> {{ alert.date }} </td>
        <td> {{ alert.alertCategory.name }} </td>
        <td> {{ alert.designation }}  </td>
        <td> {% if alert.equipment!=null %} {{ alert.equipment.brand.name }} {% endif %} </td>
        <td> {{ alert.alertState.name }} </td>
        <td>
        {% if is_granted('ROLE_MODERATOR') %}
          {% if alert.isAwarded == false %}  
           <a href="{{ path('ho_create_intervention_alert',{'alertId': alert.id }) }}" class="btn btn-default btn-success"> Attribuer  </a> 
          {% endif %}
        {% endif %}
        
        </td>
        
      </tr>
    {% endfor %}
      
    </tbody>
  </table>
</div>
 <br/><br/><br/><br/><br/>
<script>
$(document).ready(function(){
	$("#myInput").on("keyup", function(){
	var value = $(this).val().toLowerCase();

	$("#myTable tr").each(function(){
	 $(this).toggle($(this).find('.service').text().toLowerCase().indexOf(value) > -1)
	});
	});
});

</script>



{% endblock %}