
{{ form_start(form, {'method': 'post', 'action': path('ho_create_category') }) }}
<ul class="form-style-1">
<li>
 {{ form_label(form.family,"Famille") }}
 {{ form_widget(form.family,{'attr':{'class':'field-select' }}) }} 
 </li>  
<li>
 {{ form_label(form.name,"Domaine") }}
 {{ form_widget(form.name,{'attr':{'class':'field-long' }}) }} 
 </li>  
                
{{ form_rest(form) }}
<li><button class="btn btn-primary" type="submit" >Enregistrer</button></li>
</ul>
{{ form_end(form) }}

<br/><br/><br/>
