{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
  <h3> Réparateurs </h3>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-user-plus w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4> <a href="{{ path('ho_create_repairer') }}"> Ajouter un intervenant </a> </h4>
      </div>
  </div>
</div>

  <br/><br/>
  <input id="myInput"  placeholder="Recherche.." > <br/><br/>
           
  <table class="table table-striped">
    <thead>
      <tr>
      	<th> Id  </th>
        <th> Nom Prénom </th>
        <th> Statut </th>
        <th> Disponibilité </th>
        <th> Nombre tâches en cours </th>
        <th> Toutes les tâches </th>
        <th> Modifier </th>
        
      </tr>
    </thead>
    <tbody id="myTable">
    {% for rep in repairers %}
      <tr>
        <td> {{ rep.id }} </td>
        <td> {{ rep.username }} </td>
        <td> {{ rep.status.status }}  </td>
        <td>  {% if rep.isActive %}  Disponible {% else %}  <span style="color:red" > <strong> Absent <strong></span> {% endif %}  </td>
        <td> {{ nbrTasks[rep.id] }} </td>
        <td>
        {% if rep.interventions is not empty %}
         <a href="{{ path('ho_repairer_interventions',{'id':rep.id}) }}"  class="btn btn-default btn-primary" > Voir </a>  
        {% endif %}
        </td>
        <td> <a href="{{ path('ho_update_repairer',{'id': rep.id }) }}" class="btn btn-primary"> lien </a> </td>
      
      </tr>
    {% endfor %}
      
    </tbody>
  </table>
</div>
 <br/><br/><br/><br/><br/>
<script>
$(document).ready(function(){
	$("#myInput").on("keyup", function(){
	var value = $(this).val().toLowerCase();

	$("#myTable tr").each(function(){
	 $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	});
	});
});

</script>



{% endblock %}