{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

<h3> Fiche intervenant : </h3>
<br/><br/>
Nom-Prénom : {{ repairer.username }} <br/>
Statut: {{ repairer.status.status }} <br/>
 


<br/><br/>
<h3>Liste des tâches:</h3><br/>
{% for intervention in repairer.interventions|reverse  %}
Intervention identifiant: {{intervention.id}} <br/>
Statut : {% if intervention.isClosed == true %} Effectuée {% else %} En cours {% endif %} <br/>
Diagnostic : {% if intervention.comment != null %} {{ intervention.comment }} {% endif %} </br>
Date d'attribution : {{ intervention.dateBegin }} <br/>
Date de réalisation : {% if intervention.dateEnd!= null %} {{intervention.dateEnd }} {% endif %} <br/>
<hr/>
{% endfor %}


</div>


{% endblock %}