
{{ form_start(form, {'method': 'get', 'action': path('ho_get_equipments_by_brand') }) }}
<ul class="form-style-1">
  <li>
	{{ form_label(form.brand,"Marque") }}
    {{ form_widget(form.brand,{'attr':{'class':'field-long'}}) }}
    
  </li>
                
{{ form_rest(form) }}
<li><button class="btn btn-primary" type="submit" >Rechercher</button></li>
</ul>
{{ form_end(form) }}