{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
  <h3> Equipements </h3>
 
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-suitcase w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        {% if is_granted('ROLE_MODERATOR') %}
        <h4> <a href="{{ path('ho_create_equipment') }}"> Ajouter un équipement </a> </h4>
        {% endif %}
      </div>
    </div>
    {% if is_granted('ROLE_MODERATOR') %}
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-print w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4> <a href="#" data-toggle="modal" data-target="#myModalPrint"> Module impression </a></h4>
      </div>
    </div>

    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-copyright w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4> <a href="#" data-toggle="modal" data-target="#myModalBrand"> Recherche par marque </a></h4>
      </div>
    </div>

    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-padding-16">
        <div class="w3-left"><i class="fa fa-codepen w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4> <a href="#" data-toggle="modal" data-target="#myModalCateg"> Recherche par domaine </a></h4>
      </div>
    </div>

    <div class="w3-quarter" style="margin-top:10px;">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-barcode w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4> <a href="#" data-toggle="modal" data-target="#myModalCode"> Recherche par code </a></h4>
      </div>
    </div>


{% endif %}
</div>
  
 <br/><br/><br/>
  
           
  <table class="table table-striped">
    <thead>
      <tr>
      	<th> Code  </th>
        <th> Marque </th>
        <th> Modèle </th>
        <th> Domaine </th>
        <th> Etat </th>
        <th> Localisation </th>
        <th> Liste interventions </th>
        {% if is_granted('ROLE_MODERATOR') %}
        <th> Transferer </th>
        {% endif %}
        
      </tr>
    </thead>
    <tbody id="myTable">
    {% for equipment in equipments %}
      {% if equipment.toolBox == null %}
        {% if equipment.isBroken %}<tr class="danger"> {% else %} <tr> {% endif %} 
          <td class="code"> {{ equipment.code }} </td>
          <td class="brand"> {{ equipment.brand.name }} </td>
          <td> {{ equipment.model }} </td>
          <td class="categ"> {{ equipment.category.name }} </td>
          <td> {% if equipment.isBroken %} En panne {% else %} Fonctionne {% endif %} </td>
          <td>
           {% if equipment.serviceRoom != null  %} {{equipment.serviceRoom.service.name}} - {{ equipment.serviceRoom.name }} {% endif %} 
          </td>
          
          <td> 
           <a href="{{ path('ho_equipment_interventions',{'id':equipment.id}) }}" class="btn btn-default btn-primary" ><i class="fa fa-eye"></i> Voir Détails </a>    
               
          </td> 

          {% if is_granted('ROLE_MODERATOR') %}
          <td>
           <a href="{{ path('ho_transfert_equipment',{'id':equipment.id}) }}" class="btn btn-default btn-primary" > <i class="fa fa-exchange"></i> </a>
          </td>
          {% endif %}
        </tr>
      {% endif %}
    {% endfor %}
      
    </tbody>
  </table>
</div>
 

 <!--  MODAL PRINTING   -->
   <div class="modal fade" id="myModalPrint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
    
    <h4 class="modal-title"> Choisir impression :  </h4>
  </div>

  <div class="modal-body" style="font-size:16px">
        
  <div class="form-group">


    <a href=" {{ path('ho_equipment_print_equipments') }} "> <i class="fa fa-print"></i> Imprimer équipements </a> <br/><hr/>
    <a href=" {{ path('ho_equipment_print_material') }} "> <i class="fa fa-print"></i>Imprimer matériel d'interventions  </a> <br/><hr/>
    <a href=" {{ path('ho_equipment_print_eq_to_control') }} "> <i class="fa fa-print"></i> Imprimer équipement en panne </a> <br/><hr/>
    {{ render(controller('HOEquipmentBundle:Equipment:printingByCriteria')) }}
  </div>
  </div>



  <div class="modal-footer" >
  <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
  </div>

  </div>
  </div>
  </div>
  <!-- FIN MODAL -->


  <!--  MODAL CATEGORY  -->
   <div class="modal fade" id="myModalCateg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
    
    <h4 class="modal-title"> Choisir domaine :  </h4>
  </div>

  <div class="modal-body" style="font-size:16px">
        
  <div class="form-group">

    {{ render(controller('HOEquipmentBundle:Equipment:equipmentsByCategory')) }}
  </div>
  </div>



  <div class="modal-footer" >
  <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
  </div>

  </div>
  </div>
  </div>
  <!-- FIN MODAL -->

  <!--  MODAL BRAND  -->
   <div class="modal fade" id="myModalBrand" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
    
    <h4 class="modal-title"> Choisir marque :  </h4>
  </div>

  <div class="modal-body" style="font-size:16px">
        
  <div class="form-group">

    {{ render(controller('HOEquipmentBundle:Equipment:equipmentsByBrand')) }}
  </div>
  </div>



  <div class="modal-footer" >
  <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
  </div>

  </div>
  </div>
  </div>
  <!-- FIN MODAL -->


  <!--  MODAL CATEGORY  -->
   <div class="modal fade" id="myModalCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
    
    <h4 class="modal-title"> Entrer code :  </h4>
  </div>

  <div class="modal-body" style="font-size:16px">
        
  <div class="form-group">

    {{ render(controller('HOEquipmentBundle:Equipment:equipmentByCode')) }}
  </div>
  </div>



  <div class="modal-footer" >
  <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
  </div>

  </div>
  </div>
  </div>
  <!-- FIN MODAL -->



{% endblock %}