{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
  <h2> Equipement </h2>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-suitcase w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4> <a href="{{ path('ho_category_homepage') }}"> Ajouter une Catégorie </a> </h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-print w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4> <a href="#" data-toggle="modal" data-target="#myModalPrint"> Module impression </a></h4>
      </div>
    </div>

</div>

  
  <br/><br/>
  <input id="myInput"  placeholder="Recherche.." > <br/><br/>
           
  <table class="table table-striped">
    <thead>
      <tr>
      	<th> Code  </th>
        <th> Equipement </th>
        <th> Catégorie </th>
        <th> Etat </th>
        <th> Stock </th>
        <th> Service - Salle </th>
        <th> Liste interventions </th>
        
      </tr>
    </thead>
    <tbody id="myTable">
    {% for equipment in equipments %}
      {% if equipment.isBroken %}<tr class="danger"> {% else %} <tr> {% endif %} 
        <td> {{ equipment.code }} </td>
        <td> {{ equipment.name }} </td>
        <td> {{ equipment.category.name }} </td>
        <td> {% if equipment.isBroken %} En panne {% else %} Fonctionne {% endif %} </td>
        <td> {% if equipment.stock != null %} {{ equipment.stock.id }} {% endif %} </td>
        <td>
         {% if equipment.serviceRoom != null  %} {{equipment.serviceRoom.service.name}} - {{ equipment.serviceRoom.name }} {% endif %} 
        </td>
        
        <td> 
        {% if equipment.interventions is not empty %}
         <a href="{{ path('ho_equipment_interventions',{'id':equipment.id}) }}" class="btn btn-default btn-primary" > Voir Détails </a> 

         
          
             
        {% endif %} </td>
        
      </tr>
    {% endfor %}
      
    </tbody>
  </table>
</div>
 <br/><br/><br/><br/><br/>
<script>
$(document).ready(function(){
	$("#myInput").on("keyup", function(){
	var value = $(this).val().toLowerCase();

	$("#myTable tr").each(function(){
	 $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	});
	});
});

</script>


 <!--  MODAL PRINTING   -->
               <div class="modal fade" id="myModalPrint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                     <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                
                <h4 class="modal-title"> Choisir impression :  </h4>
              </div>

              <div class="modal-body" style="font-size:16px">
                    
              <div class="form-group">

            
                <a href=" {{ path('ho_equipment_print_equipments') }} "> <i class="fa fa-print"></i> Imprimer équipements </a> <br/><hr/>
                <a href=" {{ path('ho_equipment_print_material') }} "> <i class="fa fa-print"></i>Imprimer matériel d'interventions  </a> <br/><hr/>
                <a href=" {{ path('ho_equipment_print_eq_to_control') }} "> <i class="fa fa-print"></i> Imprimer équipement en panne </a> <br/><hr/>
              </div>
              </div>

            

              <div class="modal-footer" >
              <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
              </div>

              </div>
              </div>
              </div>
              <!-- FIN MODAL -->



{% endblock %}