{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

<h3>  Interventions {{ equipment.name }}/{{ equipment.code }} </h3>
<br/><br/>

<table class="table table-striped">
    <thead>
      <tr>
      	<th> Statut  </th>
        <th> Intervenant </th>
        <th> Date d'attribution </th>
        <th> Date de réalisation </th>
        <th> Défaut </th>
        <th>Diagnostic</th>
       
      </tr>
    </thead>
    <tbody id="myTable">
    {% for intervention in equipment.interventions  %}
    	<tr>
			<td> {% if intervention.isClosed == true %} Effectuée {% else %} <span style="color:red" >En cours</span> {% endif %} </td>
			<td> {{ intervention.repairer.username }} </td>
			<td> {{ intervention.dateBegin }} </td>
			<td> {% if intervention.dateEnd!= null %} {{intervention.dateEnd }} {% endif %} </td>
			<td>
			   <a href="#" data-toggle="modal" data-target="#myModalDef{{intervention.id}}"  class="btn btn-default btn-danger" ><i class="fa fa-eye"></i> Voir </a>
				<!--  MODAL DEFAUT    -->
               <div class="modal fade" id="myModalDef{{intervention.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" 
               aria-hidden="true">
                     <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                
                <h4 class="modal-title"> Défaut </h4>
              </div>

              <div class="modal-body" style="font-size:16px">
                    
              <div class="form-group">

              	{{ intervention.alert.designation }}
              
              </div>

              </div>

              <div class="modal-footer" >
              <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
              </div>

              </div>
              </div>
              </div>
              <!-- FIN MODAL -->

			</td>

			<td>
			 {% if intervention.comment != null %}
			   <a href="#" data-toggle="modal" data-target="#myModalDiag{{intervention.id}}"  class="btn btn-default btn-success" ><i class="fa fa-eye"></i> Voir </a>
				<!--  MODAL DEFAUT    -->
               <div class="modal fade" id="myModalDiag{{intervention.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" 
               aria-hidden="true">
                     <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                
                <h4 class="modal-title"> Diagnostic </h4>
              </div>

              <div class="modal-body" style="font-size:16px">
                    
              <div class="form-group">

              	{{ intervention.comment }}
              
              </div>

              </div>

              <div class="modal-footer" >
              <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
              </div>

              </div>
              </div>
              </div>
              <!-- FIN MODAL -->
			  
			 {% endif %} 
			</td>
		</tr>
	{% endfor %}
      
    </tbody>
  </table>




</div>


{% endblock %}

