<!DOCTYPE html>
<html>
<head>
<style type="text/css">
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}



</style>

</head>
<body>
  <br/><br/><br/>
<h1 align="center"> {{ title }}  </h1>

<br/><br/>
{%  if criterias is defined and criterias is not null %}
Critères:<br/>
{% for key,value in criterias %}
    {{ key }} : {{ value }} <br/>
 
{% endfor %}
<br/><br/>
{% endif %}

<table>

<tr>
 <th>Marque</th>
 <th> Code </th>
 <th> Domaine </th>
 <th> Date de fabrication </th>
 <th> Date d'utilisation </th>
 <th> Localisation </th>

</tr>
{% for equipment in equipments  %}
<tr>
 <td width="20%"> {{ equipment.brand.name }} </td>
 <td width="10% "> {{ equipment.code }} </td>
 <td width="20%"> {{ equipment.category.name }} </td>
 <td width="15%"> {{ equipment.manufactureDate }} </td>
 <td width="15%">  {% if equipment.useDate != null %} {{ equipment.useDate|date('d/m/Y') }} {% endif %} </td>
 <td width="20%">
  {% if equipment.serviceRoom!= null %}
    {{equipment.service.name}}-{{equipment.serviceRoom.name}}
  {% endif %}  </td>

</tr>
{% endfor %}

</table>


<script>
function print_page() {
    window.print();
}
window.onload=print_page;
</script>

</body>
</html>
