{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
<h2>  Enregistrer réparation {{ equipment.name }}: &nbsp {{ equipment.code }} </h2>

{{ form_start(form, {'method': 'post', 'action': path('ho_equipment_reparation',{'id': equipment.id }) }) }}
                
            {{ form_rest(form) }}
            <button class="btn btn-default" type="submit" >Enregistrer</button>
{{ form_end(form) }}


</div>


{% endblock %}

