{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
<h3>  Créer un service: </h3>

{{ form_start(form, {'method': 'post', 'action': path('ho_create_service') }) }}
	
	<ul class="form-style-1">
	<li>
	{{ form_label(form.name,"Nom du service *") }}
    {{ form_widget(form.name,{'attr':{'class':'field-long'}}) }}
    
  </li>
                
    {{ form_rest(form) }}
    <br/><br/>
    <button class="btn btn-primary" type="submit" >Enregistrer</button>
    </ul>
                
{{ form_end(form) }}


</div>


{% endblock %}

