{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
  <h3> Les services </h3>

   <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-sitemap w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4> <a href="{{ path('ho_create_service') }}">  Ajouter un service  </a> </h4>
      </div>
  </div>
</div>

  <br/><br/>

  <input id="myInput"  placeholder="Recherche.." > <br/><br/>
           
  <table class="table table-striped">
    <thead>
      <tr>
        <th> Nom </th>
        <th> Liste des équipements </th>
        <th> Liste des salles </th>
        <th> Signaler Alerte </th>
        
      </tr>
    </thead>
    <tbody id="myTable">
    {% for serv in services %}
      <tr>
        <td> {{ serv.name }} </td>

        <td>
        {% if serv.equipments is not empty %}
         <a href="{{ path('ho_service_equipments',{'id':serv.id}) }}" class="btn btn-default btn-primary" > <i class="fa fa-eye"></i>Voir </a> 
             
        {% endif %}

        </td>


        <td>
        
         <a href="#" data-toggle="modal" data-target="#myModal{{serv.id}}" class="btn btn-default btn-primary" ><i class="fa fa-eye"></i> Voir </a> 

         
          <!--  MODAL SALLES    -->
               <div class="modal fade" id="myModal{{serv.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" 
               aria-hidden="true">
                     <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                
                <h4 class="modal-title"> Liste des salles </h4>
              </div>

              <div class="modal-body" style="font-size:16px">
                    
              <div class="form-group">

                {% if serv.rooms is not empty %}
                {% for room in serv.rooms  %}
                 {{ room.name }} <br/>
                <hr/>
                {% endfor %}
                {% endif %}
                <br/><a href="{{ path('ho_service_add_room',{'serviceId': serv.id }) }}" class="btn btn-default btn-primary"> Ajouter une salle  </a>
              
              </div>

              </div>

              <div class="modal-footer" >
              <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
              </div>

              </div>
              </div>
              </div>
              <!-- FIN MODAL -->
             
        </td>
        
        <td> <a href="{{ path('ho_create_alert_from_service',{'serviceId': serv.id }) }}" class="btn btn-default btn-danger" >
         <i class="fa fa-exclamation-triangle" ></i> Alerte</a>
        </td>
        
      </tr>
    {% endfor %}
      
    </tbody>
  </table>
</div>
 <br/><br/><br/><br/><br/>
<script>
$(document).ready(function(){
	$("#myInput").on("keyup", function(){
	var value = $(this).val().toLowerCase();

	$("#myTable tr").each(function(){
	 $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	});
	});
});

</script>



{% endblock %}